<div class="section_category">
  <div class="inner_category">
    <div class="box_category">
      <div class="top_box">
        <span>카테고리 목록</span>
      </div>
      <div id="category">
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
        <p>1213</p>
      </div>
    </div>
  </div>
</div>
<div class="section_option">

</div>